<h1>ESC monitor web</h1>


<table border="1">
  <tr>
	<th>instanceID</th>
	<th>Region-Area</th>
	<th>Hostname</th>
	<th>LastUpadteTime</th>
    <th>vm.CPUUtilization</th>
    <th>vm.DiskIORead</th>
    <th>vm.DiskIOWrite</th>
    <th>vm.DiskUtilization</th>
    <th>vm.InternetNetworkRX</th>
    <th>vm.InternetNetworkTX</th>
    <th>vm.LoadAverage</th>
    <th>vm.MemoryUtilization</th>
    <th>vm.VirtualMemoryUtilization</th>
    <th>vm.TcpCount</th>
    <th>vm.ProcessCount</th>
    <th>vm.Process.number</th>
    <th>vm.Process.memory</th>
    <th>vm.Process.cpu</th>
  </tr>

  <tr>
    <td></td>
    <td>1 Infinite Loop Cupertino, CA 95014</td>
  </tr>
</table>
